---
layout: default
---

<h1>AWS Quizzes - Table of Contents</h1>

{% assign sorted_sections = site.sections | sort: 'order' %} {% for section in
sorted_sections %}
<h2>{{ section.title }}</h2>
<ul>
  {% assign sorted_posts = site.posts | where: "section", section.name | sort:
  'lesson' %} {% for post in sorted_posts %}
  <li>
    <div style="display: flex; align-items: center">
      <input
        type="checkbox"
        class="topic-checkbox"
        data-id="post-{{ post.id }}"
      />
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </div>
  </li>
  {% endfor %}
</ul>
{% endfor %}
<script src="{{ site.baseurl }}/assets/js/checkboxes.js"></script>
